<link rel="stylesheet" href="/stylesheets/payment-success.css">

<img src="https://i.pinimg.com/originals/0d/e4/1a/0de41a3c5953fba1755ebd416ec109dd.gif" alt="Payment successfull" id="paymentSuccess">

  <h1 class="text-center text-success mt-5">Payment successfull</h1>

    <p class="text-center">You will be redirected to homepage in a few Seconds. <br>If not...... <a href="/">Click here</a></p>


  <script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/";
  }, 4000)
</script>
