<img src="https://i.pinimg.com/originals/9d/16/7e/9d167e72839894c971c90f60ab00d916.gif" alt="Payment failed.gif" id="paymentSuccess">

  <h1 class="text-center text-danger mt-5">Payment Failed</h1>

    <p class="text-center">You will be redirected to homepage in a few Seconds. <br>If not...... <a href="/">Click here</a></p>

  <style>
    #paymentSuccess{

      display: block;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 350px;
    }

  </style>